<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8" />
<title>[about:title]-{aspcms:sitetitle}</title>
<meta name="description" content="[about:desc]" />
<meta name="keywords" content="[about:keyword]" />
<meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width"/>
<meta http-equiv="Cache-Control" content="no-siteapp"/>
<meta name="format-detection" content="telephone=no"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-title" content=""/>
<meta name="apple-mobile-web-app-status-bar-style" content="default"/>
<link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png"/>
<meta name="mobile-web-app-capable" content="yes">
<link rel="icon" sizes="128x128" href="apple-touch-icon-precomposed.png">
<link href="{aspcms:sitepath}/templates/{aspcms:defaulttemplate}/wap/css/style.css" rel="stylesheet" type="text/css">
<script src="{aspcms:sitepath}/templates/{aspcms:defaulttemplate}/wap/js/jquery-1.11.3.min.js"></script>
<script src="{aspcms:sitepath}/templates/{aspcms:defaulttemplate}/wap/js/touchslide.1.1.source.js"></script>
</head>
<body>   

<div class="center">
<!--head-->
{aspcms:top}

<!--head end-->
<div class="banner"><img src="{aspcms:sitepath}/templates/{aspcms:defaulttemplate}/wap/images/ban-a.jpg"></div>
<div class="height20"></div>

<div class="about-in">
    <div class="news-menu">
        <ul class="clearfix border-top tab-about">
            <li class="border-bottom" id="a1"><a><p>企业介绍</p><span>COMPANY</span></a></li>
            <!--<li class="border-bottom border-left" id="a2"><a><p>权威认证</p><span>HONOR</span></a></li>-->
            <li class="border-bottom border-left" id="a3"><a><p>公司承诺</p><span>PROMISES</span></a></li>
            <li class="border-bottom" id="a4"><a><p>企业理念</p><span>ENTERPRISE</span></a></li>
            <!--<li class="border-bottom border-left" id="a5"><a><p>产品研发</p><span>RESEARCH</span></a></li>-->
            <li class="border-bottom border-left" id="a6"><a><p>质量保障</p><span>ASSURANCE</span></a></li>
            <!--<li class="border-bottom" id="a7"><a><p>社会责任</p><span>RESPONSIBILITY</span></a></li>-->
            <li class="border-left" style="width:0"><a><p></p><span></span></a></li>
        </ul>
    </div>
    <div class="tabCon" style="display: block">
        <div class="banner"><img src="{aspcms:sitepath}/templates/{aspcms:defaulttemplate}/wap/images/about-01.jpg"></div>
        <div class="inner-title">
            <h2>企业介绍</h2>
            <div class="tit-en">company profile</div>
        </div>
        <div class="content-p">
            [about:info] 
            <p><br></p>
            
        </div>
        <!--<div class="banner"><img  src="{aspcms:sitepath}/templates/{aspcms:defaulttemplate}/wap/images/about-ser.jpg"></div>-->
    </div>
    <!--<div class="tabCon">   
        <div class="honor-box">   
            <div class="inner-title inner-title-w">
                <h2>权威认证</h2>
                <div class="tit-en">HONOR HALLS</div>
            </div>
            <ul class="clearfix">
                <li>
                    <a>
                        <div class="pic"><div class="box"><span></span><img class="img" src="{aspcms:sitepath}/templates/{aspcms:defaulttemplate}/wap/images/h-1.jpg"></div></div>
                        <div class="tit-ch text-overflow">2018年度，美缝剂十大品牌</div>
                        <div class="tit-en border-bottom">major brands of beauty</div>
                    </a>
                </li>
                <li>
                    <a>
                        <div class="pic"><div class="box"><span></span><img class="img" src="{aspcms:sitepath}/templates/{aspcms:defaulttemplate}/wap/images/h-6.jpg"></div></div>
                        <div class="tit-ch text-overflow">法国A+标准</div>
                        <div class="tit-en border-bottom">French air A+</div>
                    </a>
                </li>
                <li>
                    <a>
                        <div class="pic"><div class="box"><span></span><img class="img" src="{aspcms:sitepath}/templates/{aspcms:defaulttemplate}/wap/images/h-3.jpg"></div></div>
                        <div class="tit-ch text-overflow">中国环境标志认证</div>
                        <div class="tit-en border-bottom">SCCEL</div>
                    </a>
                </li>
                <li>
                    <a>
                        <div class="pic"><div class="box"><span></span><img class="img" src="{aspcms:sitepath}/templates/{aspcms:defaulttemplate}/wap/images/h-4.jpg"></div></div>
                        <div class="tit-ch text-overflow">ISO9001质量管理体系认证</div>
                        <div class="tit-en border-bottom">ISO9001</div>
                    </a>
                </li>
                <li>
                    <a>
                        <div class="pic"><div class="box"><span></span><img class="img" src="{aspcms:sitepath}/templates/{aspcms:defaulttemplate}/wap/images/h-5.jpg"></div></div>
                        <div class="tit-ch text-overflow">WAGC世界锦标赛官方赞助商</div>
                        <div class="tit-en border-bottom">WAGC</div>
                    </a>
                </li>
            </ul>       
        </div>
    </div>-->
    <div class="tabCon">
        <div class="banner"><img src="{aspcms:sitepath}/templates/{aspcms:defaulttemplate}/wap/images/about-02.jpg"></div>
        <div class="inner-title">
            <h2>公司承诺</h2>
            <div class="tit-en">COMPANY PROMISES</div>
        </div>
        <div class="promises-p">
            <p>将质量放在高于企业愿景的位置，</p>
            <p>质量是我们生存发展的生命线，</p>
            <p>也是我们赢得未来的核心竞争力！</p>
        </div>
    </div>
    <div class="tabCon">   
        <div class="idea-box">   
            <div class="inner-title inner-title-w">
                <h2>企业理念</h2>
                <div class="tit-en">ENTERPRISE IDEA</div>
            </div>
            <ul class="clearfix">
                <li>
                    <a>
                        <i class="icon-1"><img src="{aspcms:sitepath}/templates/{aspcms:defaulttemplate}/wap/images/menu_10.png"></i>
                        <p>以客为尊</p>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="icon-1"><img src="{aspcms:sitepath}/templates/{aspcms:defaulttemplate}/wap/images/menu_11.png"></i>
                        <p>以人为本</p>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="icon-1"><img src="{aspcms:sitepath}/templates/{aspcms:defaulttemplate}/wap/images/menu_12.png"></i>
                        <p>以市场为导向</p>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="icon-1"><img src="{aspcms:sitepath}/templates/{aspcms:defaulttemplate}/wap/images/menu_13.png"></i>
                        <p>实事求是</p>
                    </a>
                </li>
            </ul>    
            <div class="idea-p">
                <p>以服务创新，以生态环保，为准则。</p>
                <p></p>
                <p>让每一位合作伙伴、消费者省心、放心。</p>
            </div>   
        </div>
    </div>
    <div class="tabCon">  
        <div class="research-box">
            <div class="pic-box clearfix">
                <div class="l"><img src="{aspcms:sitepath}/templates/{aspcms:defaulttemplate}/wap/images/about-11.jpg"><p>绿色</p></div>
                <div class="l"><img src="{aspcms:sitepath}/templates/{aspcms:defaulttemplate}/wap/images/about-12.jpg"><p>环保</p></div>
                <div class="l"><img src="{aspcms:sitepath}/templates/{aspcms:defaulttemplate}/wap/images/about-13.jpg"><p>健康</p></div>
            </div>
            <div class="research-p">
                <p>一直致力于绿色，</p>
                <p>健康的产品研发和推广，</p>
                <p>倡环境保护之风，走持续发展之路。</p>
            </div>
        </div>   
    </div>
    <div class="tabCon">   
        <div class="quality-box">   
            <div class="inner-title inner-title-w">
                <h2>质量保障</h2>
                <div class="tit-en">QUALITY ASSURANCE</div>
            </div>
            <div class="content-box">
                <p>意大利马瓦罗美缝（陶瓷泥）—持久靓丽！</p>
                <p>绿色环保成就卓越品质，经久耐用、艺术美观、防霉易清洁</p>
                <p>意大利马瓦罗美缝（陶瓷泥）给足您的保障！</p>
            </div>
        </div>
    </div>
    <div class="tabCon">
        <div class="banner"><img src="{aspcms:sitepath}/templates/{aspcms:defaulttemplate}/wap/images/about-03.jpg"></div>
        <!--<div class="inner-title">
            <h2>社会责任</h2>
            <div class="tit-en">SOCIAL RESPONSIBILITY</div>
        </div>
        <div class="content-p">
            <p>将质量放在高于企业愿景的位置！</p>
            <p><br></p>
            <p>质量是我们生存发展的生命线！</p>
            <p><br></p>
            <p>也是我们赢得未来的核心竞争力。</p>
      </div>-->
    </div>
</div>









<div class="tanchuan">
    <div class="box"><span></span><img class="img2" src="{aspcms:sitepath}/templates/{aspcms:defaulttemplate}/wap/images/h-1.jpg"></div>
    <div class="cancel"><a></a></div>
</div>









<!--foot-->
<script type="text/javascript" src="{aspcms:sitepath}/templates/{aspcms:defaulttemplate}/wap/js/share.js"></script><script type="text/javascript" src="{aspcms:sitepath}/templates/{aspcms:defaulttemplate}/wap/js/aspcms_statistics.js"></script>
{aspcms:foot}