<div class="foot-contact border-top">
                <a href="tel:400 881 3066">
                    <div class="foot-l">
                        <span>
                            服务专线：
                            <br>
                            {aspcms:companymobile} 
                        </span>
                    </div>
                </a>
                <a href="tel:17314411115">
                    <div class="foot-r border-left">
                        <span>
                            招商热线：
                            <br>
                            {aspcms:companymobile} 
                        </span>
                    </div>
                </a>
                <div class="clear">
                </div>
            </div>
            <div class="foot-nav clearfix">
                <ul>
                    <li class="index-l">
                        <a href="/">
                            <img src="{aspcms:sitepath}/templates/{aspcms:defaulttemplate}/wap/images/foot-3.png">
                            首页
                        </a>
                    </li>
                    {aspcms:navlist}
                    <li class="page-l border-left border-bottom">
                        <a href="[navlist:link]" title="[navlist:name]">
                            [navlist:name]
                        </a>
                    </li>
                    {/aspcms:navlist}
                </ul>
            </div>
            <div id="mcover" onclick="document.getElementById('mcover').style.display='';">
                <img class="img1" src="{aspcms:sitepath}/templates/{aspcms:defaulttemplate}/wap/images/guide.png">
                <img class="img2" width="80%" src="{aspcms:sitepath}/templates/{aspcms:defaulttemplate}/wap/images/201711201624306595.jpg">
            </div>
            <!--****************************-->
            <!--<div class="footer border-top">
                <div id="mess_share" class="box1 bdsharebuttonbox">
                    <div class="f_bot1" id="share_1">
                        <a rel="external nofollow" class="button button-jd" href="/"
                        target="_blank">
                            京东旗舰店
                        </a>
                    </div>
                    <div class="f_bot1" id="share_2">
                        <a rel="external nofollow" class="button button-taobao" href="/"
                        target="_blank">
                            淘宝企业店
                        </a>
                    </div>
                    <div class="f_bot1" id="share_3">
                        <a rel="external nofollow" class="button button-weibo" href="/"
                        target="_blank">
                            官方微博
                        </a>
                    </div>
                    <div class="clear">
                    </div>
                </div>
            </div>-->
            <!--****************************-->
            <div class="h_pic border-top">
                <div class="h_cen">
                    <p>
                        版权所有 Copyright © {aspcms:companyname} All Rights Reserved.
                        <br>
                        <a href="http://www.miitbeian.gov.cn">
                            {aspcms:companyicp} 
                        </a>
                    </p>
                </div>
            </div>
            <div style="display:none">
                
            </div>
            <div class="top_barbg">
            </div>
            <div class="top_bar">
            </div>
            <script>
                (function() {
                    var bp = document.createElement('script');
                    var curProtocol = window.location.protocol.split(':')[0];
                    if (curProtocol === 'https') {
                        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
                    } else {
                        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
                    }
                    var s = document.getElementsByTagName("script")[0];
                    s.parentNode.insertBefore(bp, s);
                })();

                window._bd_share_config = {
                    "common": {
                        "bdSnsKey": {},
                        "bdText": "",
                        "bdMini": "2",
                        "bdMiniList": false,
                        "bdPic": "",
                        "bdStyle": "0",
                        "bdSize": "16"
                    },
                    "share": {}
                };
                with(document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/{aspcms:sitepath}/templates/{aspcms:defaulttemplate}/wap/js/share.js?v=89860593.js?cdnversion=' + ~ ( - new Date() / 36e5)];

                < !-- //360收录-->
                (function() {
                    var src = (document.location.protocol == "http:") ? "http://js.passport.qihucdn.com/11.0.1.js?8898357a6f94653632dad8c8bf3ef559": "https://jspassport.ssl.qhimg.com/11.0.1.js?8898357a6f94653632dad8c8bf3ef559";
                    document.write('<script src="' + src + '" id="sozz"><\/script>');
                })();
            </script>
            <!---->
        </div>
    </body>

</html>