<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8" />
<title>美缝剂加盟_2018美缝剂十大品牌_真瓷胶品牌-意大利马瓦罗美缝品牌</title>
<meta name="Keywords" content="美缝剂加盟,真瓷胶代理,美缝剂十大品牌,美缝剂厂家" >
<meta name="Description" content="意大利马瓦罗美缝剂是全球家居缝隙美化专家，美缝剂十大品牌。主营美缝剂、真瓷胶、水瓷美缝剂、彩砂填缝剂、艺术美边！美缝剂加盟、真瓷胶厂加盟热线：400 881 3066" >
<meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width"/>
<meta http-equiv="Cache-Control" content="no-siteapp"/>
<meta name="format-detection" content="telephone=no"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-title" content="真瓷胶,美缝剂厂家,水瓷,美缝剂,真瓷胶厂家,意大利马瓦罗美缝剂【官网】手机版"/>
<meta name="apple-mobile-web-app-status-bar-style" content="default"/>
<link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png"/>
<meta name="mobile-web-app-capable" content="yes">
<link rel="icon" sizes="128x128" href="apple-touch-icon-precomposed.png">
<link href="css/style.css" rel="stylesheet" type="text/css">
<link href="{aspcms:sitepath}/templates/{aspcms:defaulttemplate}/wap/css/style.css" rel="stylesheet" type="text/css">
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/touchslide.1.1.source.js"></script>
</head>
<body>   

<div class="center">
<!--head-->
<div class="head clearfix">
    <a href="/m/" class="logos"></a>
    <a class="back-page" href="javascript:history.go(-1)"><img src="{aspcms:sitepath}/templates/{aspcms:defaulttemplate}/wap/images/0-02.png" /></a>
    <a class="nav-btn"></a>
    <div class="head-nav">
        <ul class="border-bottom border-top">
            <li><a href="/wap/" title="网站首页">网站首页</a></li>
            
            <li><a href="/wap/productlist/cpzx_1.html" title="产品中心">产品中心</a></li>
            
            <li><a href="/wap/about/gywm.html" title="关于我们">关于我们</a></li>
            
            <li><a href="/wap/newslist/xwzx-1.html" title="新闻中心">新闻中心</a></li>
            
            <li class="active"><a href="/wap/about/zsjm.html" title="美缝加盟">美缝加盟</a></li>
            
            <li><a href="/wap/about/about-210.html" title="美缝团队">美缝团队</a></li>
            
            <li><a href="/wap/newslist/meifengji-226-1.html" title="美缝剂">美缝剂</a></li>
            
            <li><a href="/wap/zhencijiao-1.html" title="真瓷胶">真瓷胶</a></li>
            
            <li><a href="/wap/about/lxwm.html" title="联系我们">联系我们</a></li>
            
            <li><a href="/wap/about/about-183.html" title="售后服务">售后服务</a></li>
        </ul>
    </div>
</div>
<div class="head-bg"></div>

<script>
$(document).ready(function(){
    $('.nav-btn').on('click',function(){
        if($('.head-nav').is(':hidden')){
            $(this).addClass('close');
            $('.head-nav').slideDown(300);
        }else{
            $(this).removeClass('close');
            $('.head-nav').slideUp(300);
        } 
    })  
});
</script>



<!--head end-->
<div class="banner"><img src="{aspcms:sitepath}/templates/{aspcms:defaulttemplate}/wap/images/ban-j.jpg"></div>
<div class="height20"></div>

<!--<div class="inner-title" id="j1">
    <h2>三大优势</h2>
    <div class="tit-en">THREE ADVANTAGES</div>
</div>


<div class="join-1">
    <ul class="clearfix">
        <li>
            <div class="icon-global icon-bg"><img src="{aspcms:sitepath}/templates/{aspcms:defaulttemplate}/wap/images/menu_14.png"></div>
            <div class="box">
                <div class="tit">品牌优势</div>
                <div class="line"></div>
                <p>国际知名品牌，WAGC世界锦标赛官方赞助商，美缝剂十大品牌，畅销全球，稳赚！</p>
                <p></p>
            </div>
        </li>
        <li>
            <div class="icon-global icon-bg"><img src="{aspcms:sitepath}/templates/{aspcms:defaulttemplate}/wap/images/menu_15.png"></div>
            <div class="box">
                <div class="tit">产品优势</div>
                <div class="line"></div>
                <p>系出名门，品质一脉相承，核心技术，10大系列产品，法国室内空气A+认证，放心赚！</p>
            </div>
        </li>
        <li>
            <div class="icon-global icon-bg"><img src="{aspcms:sitepath}/templates/{aspcms:defaulttemplate}/wap/images/menu_16.png"></div>
            <div class="box">
                <div class="tit">性价比优势</div>
                <div class="line"></div>
                <p>公司是行业全产链布局的集团企业，全球化的采购，规模化及本地化的生产，令产品很具性价比，大胆赚！</p>
            </div>
        </li>
    </ul>
</div>
-->

<div class="join-2" id="j2">
    <div class="inner-title inner-title-w">
        <h2>四大优势</h2>
        <div class="tit-en">FOUR SUPPORT</div>
    </div>
    <ul class="clearfix">
        <li>
            <div class="box">
                <div class="pic"><img src="{aspcms:sitepath}/templates/{aspcms:defaulttemplate}/wap/images/j-n1.jpg"></div>
                <div class="title">市场优势</div>
                <div class="title_en">TRAINING / SUPPORT</div>
                <div class="p">装修中的必须品，能够更好的加强瓷砖的密封性和牢固性，易施工！</div>
                <div class="h_line"></div>
            </div>
        </li>
        <li>
            <div class="box">
                <div class="pic"><img src="{aspcms:sitepath}/templates/{aspcms:defaulttemplate}/wap/images/j-n2.jpg"></div>
                <div class="title">产品优势</div>
                <div class="title_en">CASE / SUPPORT</div>
                <div class="p">意大利进口原材料，由多种高分子聚合物和高档的颜料精制而成，颜色更具设计感，使用寿命更长久！</div>
                <div class="h_line"></div>
            </div>
        </li>
        <li>
            <div class="box">
                <div class="pic"><img src="{aspcms:sitepath}/templates/{aspcms:defaulttemplate}/wap/images/j-n3.jpg"></div>
                <div class="title">客户优势</div>
                <div class="title_en">MATERIAL / SUPPORT</div>
                <div class="p">使用美缝剂可以提升装修档次、美观和瓷砖防水性，更方便后期打理！</div>
            <div class="h_line"></div>
            </div>
        </li>
        <li>
            <div class="box">
                <div class="pic"><img src="{aspcms:sitepath}/templates/{aspcms:defaulttemplate}/wap/images/j-n4.jpg"></div>
                <div class="title">品牌优势</div>
                <div class="title_en">ORDER / SUPPORT</div>
                <div class="p">意大利进口品牌、集团专业研发、生产装饰材料以及胶粘剂！</div>
                <div class="h_line"></div>
            </div>
        </li>
    </ul>
</div>




<div class="inner-title" id="j3">
    <h2>六大保障</h2>
    <div class="tit-en">FIVE SECURITY</div>
</div>
<div class="banner"><img src="{aspcms:sitepath}/templates/{aspcms:defaulttemplate}/wap/images/join-bg0.jpg"></div>

<div class="height20"></div>

<!--<div class="join-4" id="j4">
    <div class="inner-title inner-title-w">
        <h2>合作品牌</h2>
        <div class="tit-en">COOPERATION BRAND</div>
    </div>
    <ul class="clearfix">
        <li><div class="box"><span></span><img src="{aspcms:sitepath}/templates/{aspcms:defaulttemplate}/wap/images/coop-1.jpg"></div></li>
        <li><div class="box"><span></span><img src="{aspcms:sitepath}/templates/{aspcms:defaulttemplate}/wap/images/coop-2.jpg"></div></li>
        <li><div class="box"><span></span><img src="{aspcms:sitepath}/templates/{aspcms:defaulttemplate}/wap/images/coop-3.jpg"></div></li>
        <li><div class="box"><span></span><img src="{aspcms:sitepath}/templates/{aspcms:defaulttemplate}/wap/images/coop-4.jpg"></div></li>
        <li><div class="box"><span></span><img src="{aspcms:sitepath}/templates/{aspcms:defaulttemplate}/wap/images/coop-5.jpg"></div></li>
        <li><div class="box"><span></span><img src="{aspcms:sitepath}/templates/{aspcms:defaulttemplate}/wap/images/coop-6.jpg"></div></li>
        <li><div class="box"><span></span><img src="{aspcms:sitepath}/templates/{aspcms:defaulttemplate}/wap/images/coop-7.jpg"></div></li>
        <li><div class="box"><span></span><img src="{aspcms:sitepath}/templates/{aspcms:defaulttemplate}/wap/images/coop-8.jpg"></div></li>
        <li><div class="box"><span></span><img src="{aspcms:sitepath}/templates/{aspcms:defaulttemplate}/wap/images/coop-9.jpg"></div></li>
    </ul>
</div>
-->
<div class="height20"></div>

<!--<div class="inner-title" id="j5">
    <h2>品牌形象</h2>
    <div class="tit-en">JOINING PROCESS</div>
</div>
<div class="banner-2"><img src="images/join-md-1.jpg"></div>
<div class="height20"></div>-->


<!--<div class="inner-title" id="j6">
    <h2>全国各地服务中心</h2>
    <div class="tit-en">SERVICE CENTER</div>
</div>
<div class="banner-2"><img src="images/join-md-2.jpg"></div>
<div class="height20"></div>-->


<!--
<div class="inner-title" id="j6">
    <h2>加盟流程</h2>
    <div class="tit-en">BRAND IMAGE</div>
</div>
<div class="banner-2"><img src="images/join-lc.jpg"></div>

<div class="height20"></div>
-->

<!--<div class="inner-title" id="j7">
    <h2>施工现场</h2>
    <div class="tit-en">Construction site</div>
</div>
<div class="join-shop">
    <ul class="clearfix">
        
        <li>
            <a href="/m/album/447.html"><div class="pic border-all"><div class="box"><img src="images/201708291108371379.jpg"></div></div></a>
        </li>
        
        <li>
            <a href="/m/album/446.html"><div class="pic border-all"><div class="box"><img src="images/201708291108289923.jpg"></div></div></a>
        </li>
        
        <li>
            <a href="/m/album/445.html"><div class="pic border-all"><div class="box"><img src="images/201708291108202236.jpg"></div></div></a>
        </li>
        
        <li>
            <a href="/m/album/444.html"><div class="pic border-all"><div class="box"><img src="images/201708291108069681.jpg"></div></div></a>
        </li>
        
        <li>
            <a href="/m/album/443.html"><div class="pic border-all"><div class="box"><img src="images/201708291107432392.jpg"></div></div></a>
        </li>
        
        <li>
            <a href="/m/album/442.html"><div class="pic border-all"><div class="box"><img src="images/201708291107307598.jpg"></div></div></a>
        </li>
        
        <li>
            <a href="/m/album/407.html"><div class="pic border-all"><div class="box"><img src="images/201708151656468235.jpg"></div></div></a>
        </li>
        
        <li>
            <a href="/m/album/406.html"><div class="pic border-all"><div class="box"><img src="images/201708151656382255.jpg"></div></div></a>
        </li>
          
    </ul>
</div>-->
<!--<div class="height20"></div>
<div class="inner-title">
    <h2>专卖店实拍</h2>
    <div class="tit-en">DEALER DISPLAY</div>
</div>
<div class="join-shop">
    <ul class="clearfix">
        
        <li>
            <a href="/m/album/877.html"><div class="pic border-all"><div class="box"><img src="images/201901021053576302.jpg"></div></div></a>
        </li>
        
        <li>
            <a href="/m/album/873.html"><div class="pic border-all"><div class="box"><img src="images/201812281108343056.jpg"></div></div></a>
        </li>
        
        <li>
            <a href="/m/album/862.html"><div class="pic border-all"><div class="box"><img src="images/201812171544166944.jpg"></div></div></a>
        </li>
        
        <li>
            <a href="/m/album/860.html"><div class="pic border-all"><div class="box"><img src="images/201812150821101026.jpg"></div></div></a>
        </li>
        
        <li>
            <a href="/m/album/843.html"><div class="pic border-all"><div class="box"><img src="images/201811271552225460.jpg"></div></div></a>
        </li>
        
        <li>
            <a href="/m/album/841.html"><div class="pic border-all"><div class="box"><img src="images/201811271436554459.jpg"></div></div></a>
        </li>
        
        <li>
            <a href="/m/album/840.html"><div class="pic border-all"><div class="box"><img src="images/201811271431579388.jpg"></div></div></a>
        </li>
        
        <li>
            <a href="/m/album/755.html"><div class="pic border-all"><div class="box"><img src="images/201809021759007233.jpg"></div></div></a>
        </li>
          
    </ul>
</div>-->
<!--<div class="height20"></div>
<div class="inner-title">
    <h2>工厂实拍</h2>
    <div class="tit-en">Factory scene</div>
</div>
<div class="join-shop">
    <ul class="clearfix">
        
        <li>
            <a href="/m/album/453.html"><div class="pic border-all"><div class="box"><img src="images/201709021558464999.jpg"></div></div></a>
        </li>
        
        <li>
            <a href="/m/album/424.html"><div class="pic border-all"><div class="box"><img src="images/201708151700324126.jpg"></div></div></a>
        </li>
        
        <li>
            <a href="/m/album/423.html"><div class="pic border-all"><div class="box"><img src="images/201708151700217238.jpg"></div></div></a>
        </li>
        
        <li>
            <a href="/m/album/421.html"><div class="pic border-all"><div class="box"><img src="images/201708151700112015.jpg"></div></div></a>
        </li>
        
        <li>
            <a href="/m/album/420.html"><div class="pic border-all"><div class="box"><img src="images/201708151700016790.jpg"></div></div></a>
        </li>
        
        <li>
            <a href="/m/album/419.html"><div class="pic border-all"><div class="box"><img src="images/201708151659513834.jpg"></div></div></a>
        </li>
        
        <li>
            <a href="/m/album/418.html"><div class="pic border-all"><div class="box"><img src="images/201708151659436147.jpg"></div></div></a>
        </li>
        
        <li>
            <a href="/m/album/417.html"><div class="pic border-all"><div class="box"><img src="images/201708151659297882.jpg"></div></div></a>
        </li>
          
    </ul>
</div>-->




<div class="height30"></div>







<!--foot-->

<script type="text/javascript" src="js/share.js"></script><script type="text/javascript" src="js/aspcms_statistics.js"></script><div class="foot-contact border-top">
    <a href="tel:400-881-3066"><div class="foot-l"><span>服务专线：<br>400-881-3066</span></div></a>
    <a href="tel:17314411115"><div class="foot-r border-left"><span>招商热线：<br>17314411115</span></div></a>
    <div class="clear"></div>
</div>

<div class="foot-nav clearfix">
    <ul>
        <li class="index-l"><a href="/wap/"><img src="{aspcms:sitepath}/templates/{aspcms:defaulttemplate}/wap/images/foot-3.png">首页</a></li>


        <li class="page-l border-left border-bottom" >
            <a href="/wap/list/?5_1.html" title="产品中心">产品中心</a>

        </li>


  <li class="page-l border-left border-bottom" >
            <a href="/wap/about/?19.html" title="关于我们">关于我们</a>


        </li>

  <li class="page-l border-left border-bottom" >
            <a href="/wap/list/?1_1.html" title="新闻中心">新闻中心</a>


        </li>


  <li class="page-l border-left" >
            <a href="/wap/about/?55.html" title="美缝加盟">美缝加盟</a>


        </li>


  <!--<li class="page-l border-left" >
            <a href="/wap/about/about-210.html" title="美缝团队">美缝团队</a>


        </li>
-->

  <li class="page-l border-left" >
            <a href="/wap/about/?18.html" title="联系我们">联系我们</a>

        </li>


    </ul>
</div>




<div id="mcover" onclick="document.getElementById('mcover').style.display='';">
    <img class="img1" src="images/guide.png"><img class="img2" width="80%" src="images/201711201624306595.jpg">
</div>
<!--****************************-->
<div class="footer border-top">
    <div id="mess_share" class="box1 bdsharebuttonbox">
        <div class="f_bot1" id="share_1">
            <a rel="external nofollow"  class="button button-jd" href="https://mall.jd.com/index-779027.html" target="_blank">
                意大利马瓦罗京东旗舰店
            </a>
        </div>
        <div class="f_bot1" id="share_2">
            <a rel="external nofollow"  class="button button-taobao" href="https://shop439424474.taobao.com/index.htm?scene=taobao_shop&qq-pf-to=pcqq.c2c" target="_blank">
                意大利马瓦罗淘宝企业店
            </a>
        </div>
        <div class="f_bot1" id="share_3">
            <a rel="external nofollow" class="button button-weibo" href="https://weibo.com/5703015338/profile?rightmod=1&wvr=6&mod=personinfo&is_all=1 "  target="_blank">
                官方微博
            </a>
        </div>
        <div class="clear"></div>
    </div>
</div>


<script>
window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{}};
with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
</script>
<!--****************************-->
<div class="h_pic border-top">
  <div class="h_cen">
      <p>版权所有 Copyright © 意大利马瓦罗 All Rights Reserved.<br>粤ICP备16084515号-1</p>


  </div>
</div>









<!---->
</div>
</body>
</html>

