<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8" />
<title>[news:title]-{aspcms:sortname}-{aspcms:sitetitle}</title>
<meta name="Keywords" content="[news:keyword]" />
<meta name="Description" content="[news:desc]" /> 
<meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width"/>
<meta http-equiv="Cache-Control" content="no-siteapp"/>
<meta name="format-detection" content="telephone=no"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-title" content=""/>
<meta name="apple-mobile-web-app-status-bar-style" content="default"/>
<link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png"/>
<meta name="mobile-web-app-capable" content="yes">
<link rel="icon" sizes="128x128" href="apple-touch-icon-precomposed.png">
<link href="{aspcms:sitepath}/templates/{aspcms:defaulttemplate}/wap/css/style.css" rel="stylesheet" type="text/css">
<script src="{aspcms:sitepath}/templates/{aspcms:defaulttemplate}/wap/js/jquery-1.11.3.min.js"></script>
<script src="{aspcms:sitepath}/templates/{aspcms:defaulttemplate}/wap/js/touchslide.1.1.source.js"></script>
</head>
<body>   

<div class="center">
<!--head-->
{aspcms:top}

<!--head end-->
<div class="banner"><img src="{aspcms:sitepath}/templates/{aspcms:defaulttemplate}/wap/images/ban-p.jpg"></div>
<div class="height20"></div>
<div class="site-pro-menu">
    <ul>
          {aspcms:navlist type={aspcms:sortid}}

                     <li><a href="[navlist:link]"><div class="tit-ch">[navlist:name]</div></a></li>
        {/aspcms:navlist}
        <div class="clear"></div>
    </ul>
</div>

<!--floor-1-->

<div class="product-list">
    <ul>    
        <li>
            <div class="pic"><img src="[news:pic]"></div>
        </li>
    </ul>
</div>

<div class="product-infos">
    <div class="tit">[news:title]</div>
    <div class="infos-1">
        <h4 class="border-bottom">产品简介：</h4>
        <div class="p">
            <p>[news:desc]</p><script src="{aspcms:sitepath}/templates/{aspcms:defaulttemplate}/wap/js/aspcms_visitsadd.js"></script>
        </div>
    </div>
    <div class="infos-1">
        <h4 class="border-bottom">产品详情：</h4>
        <div class="p">
            [news:info]
        </div>
    </div>
    <div class="page-in">
        <div class="btn text-overflow">上一个： {aspcms:prev}</div>
        <div class="btn text-overflow">下一个： {aspcms:next}</div>
    </div>
</div>

<div class="product-xg">
    <h6>相关产品</h6>
    <ul class="clearfix">
        {aspcms:content sort=5 num=4 order=order star=1}
        <li>
            <a href="[content:link]" class="border-all">
                <div class="pic"><div class="box"><img src="[content:pic]"></div></div>
                <div class="tit text-overflow border-top">[content:title]</div>
            </a>
        </li>             
        
        {/aspcms:content}
                   
    </ul>
</div>




<!--foot-->
<script type="text/javascript" src="{aspcms:sitepath}/templates/{aspcms:defaulttemplate}/wap/js/share.js"></script><script type="text/javascript" src="{aspcms:sitepath}/templates/{aspcms:defaulttemplate}/wap/js/aspcms_statistics.js"></script>
{aspcms:foot}