<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>网站首页</title>
    <!-- responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- For IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- master stylesheet -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Responsive stylesheet -->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="images/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="images/favicon/favicon-16x16.png" sizes="16x16">

    <!-- Fixing Internet Explorer-->
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script src="js/html5shiv.js"></script>
    <![endif]-->
</head>
<body>

<!--Start Preloader -->
<div class="preloader"></div>
<!--End Preloader -->

<!--Start Top bar area -->
<section class="top-bar-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-5 col-sm-12 col-xs-12">
                <div class="welcome">
                    <p>欢迎光临源鸿大棚产品服务中心</p>
                </div>
            </div>

        </div>
    </div>
</section>
<!--End Top bar area -->

<!--Start header area-->
<header class="header-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="logo">
                    <a href="index.html">
                        <img src="images/resources/logo.png" alt="Awesome Logo">
                    </a>
                </div>
            </div>

        </div>
    </div>
</header>
<!--End header area-->

<!--Start mainmenu area-->
<section class="mainmenu-area stricky">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-12">
                <!--Start mainmenu-->
                <nav class="main-menu">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse clearfix">
                        <ul class="navigation clearfix">
                            <li class="current"><a href="index.html">网站首页</a></li>
                            <li><a href="services.html">产品分类</a></li>
                            <li><a href="about.html">关于我们</a></li>
                            <li class="dropdown"><a href="shop.html">产品中心</a>

                            </li>
                            <li><a href="blog.html">行业动态</a></li>
                            <li><a href="contact.html">联系我们</a></li>
                        </ul>
                    </div>
                </nav>
                <!--End mainmenu-->
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="customer-care pull-left">
                    <div class="icon-holder">
                        <span class="flaticon-cell-phone"></span>
                    </div>
                    <div class="title-holder">
                        <h5>全国服务热线</h5>
                        <h4><a href="tel:18505266333">18505266333</a></h4>
                    </div>
                </div>
                <div class="top-search-box pull-right">
                    <button><i class="fa fa-search"></i></button>
                    <ul class="search-box">
                        <li>
                            <form action="#">
                                <input placeholder="请输入关键词..." type="text">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End mainmenu area-->

<!--Start rev slider wrapper-->
<section class="rev_slider_wrapper">
    <div id="slider1" class="rev_slider" data-version="5.0">
        <ul>

            <li data-transition="fade">
                <img src="images/slides/1.jpg" alt="" width="1920" height="540" data-bgposition="top center"
                     data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1">

                <div class="tp-caption  tp-resizeme"
                     data-x="left" data-hoffset="0"
                     data-y="top" data-voffset="125"
                     data-transform_idle="o:1;"
                     data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;"
                     data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                     data-mask_in="x:[100%];y:0;s:inherit;e:inherit;"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     data-start="700">
                    <div class="slide-content-box">
                    </div>
                </div>
            </li>
            <li data-transition="fade">
                <img src="images/slides/2.jpg" alt="" width="1920" height="540" data-bgposition="top center"
                     data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1">

                <div class="tp-caption tp-resizeme"
                     data-x="right" data-hoffset="0"
                     data-y="center" data-voffset="-24"
                     data-transform_idle="o:1;"
                     data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;"
                     data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                     data-mask_in="x:[100%];y:0;s:inherit;e:inherit;"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     data-start="500">
                    <div class="slide-content-box">
                        <div class="button">
                            <a class="thm-btn bg-2" href="tel:18505266333">联系我们</a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
<!--End rev slider wrapper-->

<!--Start call to action area-->
<section class="call-to-action-area">
    <div class="container">
        <div class="container">
            <div class="row">
                <!--Start single item-->
                <div class="col-md-4">
                    <div class="single-item text-center">
                        <a href="#">
                            <h5>连栋大棚</h5>
                        </a>
                        <div class="img-holder">
                            <img src="images/callto-action/1.jpg" alt="Awesome Image">
                            <div class="overlay">
                                <div class="box">
                                    <div class="content">
                                        <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-holder">
                            <p>连栋温室是温室的一种升级存在，其实就是一种超级大温室， 把原有的独立单间温室，用科学的手段、合理的设计、优秀的材料将原有的独立单间模式温室连起来。.</p>
                        </div>
                    </div>
                </div>
                <!--End single item-->
                <!--Start single item-->
                <div class="col-md-4">
                    <div class="single-item text-center">
                        <a href="#">
                            <h5>花卉大棚</h5>
                        </a>
                        <div class="img-holder">
                            <img src="images/callto-action/2.jpg" alt="Awesome Image">
                            <div class="overlay">
                                <div class="box">
                                    <div class="content">
                                        <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-holder">
                            <p>大棚，原是蔬菜生产的专用设备，随着生产的发展大棚的应用越加广泛。当前大棚已用于盆花及切花栽培
                                大棚花卉，就是将许多不同种类的花卉汇集到大棚的一种种植技术。</p>
                        </div>
                    </div>
                </div>
                <!--End single item-->

                <div class="col-md-4">
                    <div class="single-item text-center">
                        <a href="#">
                            <h5>蔬菜大棚</h5>
                        </a>
                        <div class="img-holder">
                            <img src="images/callto-action/3.jpg" alt="Awesome Image">
                            <div class="overlay">
                                <div class="box">
                                    <div class="content">
                                        <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-holder">
                            <p>林业生产用于林木育苗、观赏树木的培养等；养殖业用于养蚕、养鸡、养牛、养猪、鱼及鱼苗等。</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!--End single item-->
                <!--Start single item-->
                <div class="col-md-4">
                    <div class="single-item text-center">
                        <a href="#">
                            <h5>养殖大棚</h5>
                        </a>
                        <div class="img-holder">
                            <img src="images/callto-action/4.jpg" alt="Awesome Image">
                            <div class="overlay">
                                <div class="box">
                                    <div class="content">
                                        <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-holder">
                            <p>连栋温室是温室的一种升级存在，其实就是一种超级大温室， 把原有的独立单间温室，用科学的手段、合理的设计、优秀的材料将原有的独立单间模式温室连起来。.</p>
                        </div>
                    </div>
                </div>
                <!--End single item-->
                <!--Start single item-->
                <div class="col-md-4">
                    <div class="single-item text-center">
                        <a href="#">
                            <h5>拱形大棚</h5>
                        </a>
                        <div class="img-holder">
                            <img src="images/callto-action/5.jpg" alt="Awesome Image">
                            <div class="overlay">
                                <div class="box">
                                    <div class="content">
                                        <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-holder">
                            <p>林业生产用于林木育苗、观赏树木的培养等；养殖业用于养蚕、养鸡、养牛、养猪、鱼及鱼苗等。</p>
                        </div>
                    </div>
                </div>
                <!--End single item-->
                <!--Start single item-->
                <div class="col-md-4">
                    <div class="single-item text-center">
                        <a href="#">
                            <h5>大棚配件</h5>
                        </a>
                        <div class="img-holder">
                            <img src="images/callto-action/6.jpg" alt="Awesome Image">
                            <div class="overlay">
                                <div class="box">
                                    <div class="content">
                                        <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-holder">
                            <p>大棚，原是蔬菜生产的专用设备，随着生产的发展大棚的应用越加广泛。当前大棚已用于盆花及切花栽培
                                大棚花卉，就是将许多不同种类的花卉汇集到大棚的一种种植技术。</p>
                        </div>
                    </div>
                </div>
                <!--End single item-->

            </div>
        </div>
    </div>
</section>
<!--End call to action area-->

<!--Start about us area-->
<section class="about-us-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="about-content">
                    <div class="sec-title-two">
                        <h1>关于我们</h1>
                        <span class="border"></span>
                    </div>
                    <ul>
                        <li>
                            <div class="img-holder">
                                <img src="images/about/1.jpg" alt="Awesome Image" width="200" height="200">
                            </div>
                        </li>
                        <li>
                            <div class="img-holder">
                                <img src="images/about/2.jpg" alt="Awesome Image" width="200" height="200">
                            </div>
                        </li>
                        <li>
                            <div class="img-holder">
                                <img src="images/about/3.jpg" alt="Awesome Image" width="200" height="200">
                            </div>
                        </li>
                        <li>
                            <div class="img-holder">
                                <img src="images/about/4.jpg" alt="Awesome Image" width="200" height="200">
                            </div>
                        </li>
                    </ul>
                    <div class="text-holder">
                        <p>
                            相对生产来说，将温室大棚智能控制系统应用到大棚生产以后，产量与质量比人工控制的大棚都有极大的提高，对于不同的种植品种而言，提高产量与质量相对不同，对于档次较高的经济作物来说，生产效率可以提高30%以上。相对运行成本来的核算，对于有一定规模的种植企业来说，极大的降低了劳动力成本，设备的投入与运行，可以完全由节约下来的劳动力成本中核算出来，使用时间越长，光节约的劳动力成本就是一笔巨大的利润。</p>
                        <h3>专注从事与大棚设计，温室建设，蔬菜大棚，蔬菜大棚，连栋大棚温室工程建设，凭借过硬的大棚技术和良好的信誉，赢得了全国各地菜农的好评。</span></h3>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="choose-us-content">
                    <div class="sec-title-two">
                        <h1>产品优势</h1>
                        <span class="border"></span>
                    </div>
                    <ul>
                        <li>
                            <div class="iocn-holder">
                                <span class="flaticon-tool"></span>
                            </div>
                            <div class="text-holder">
                                <h4>一体化优势</h4>
                                <p>设计、制造、施工一站式服务；保障工程周期</p>
                            </div>
                        </li>
                        <li>
                            <div class="iocn-holder">
                                <span class="flaticon-wrench"></span>
                            </div>
                            <div class="text-holder">
                                <h4>管理优势</h4>
                                <p>标准化的运营体系 资源优势：专业固定的物料提供商，保证材料质量</p>
                            </div>
                        </li>
                        <li>
                            <div class="iocn-holder">
                                <span class="flaticon-customer-support"></span>
                            </div>
                            <div class="text-holder">
                                <h4>采光性好</h4>
                                <p>通过选用不同的幕布或调节幕布的开合，满足不同作物和人对阳光的需求。</p>
                            </div>
                        </li>
                        <li>
                            <div class="iocn-holder">
                                <span class="flaticon-envelope"></span>
                            </div>
                            <div class="text-holder">
                                <h4>保温性强</h4>
                                <p>用科学的手段、合理的设计、优秀的材料将原有的独立单间模式温室连起来。</p>
                            </div>
                        </li>
                        <li>
                            <div class="iocn-holder">
                                <span class="flaticon-thumb-up"></span>
                            </div>
                            <div class="text-holder">
                                <h4>保温作用</h4>
                                <p>保温遮荫率有阳止室内红外线逸的作用,减少地面的辐射热量散失,从而提高室温度.</p>
                            </div>
                        </li>
                        <li>
                            <div class="iocn-holder">
                                <span class="flaticon-discover-paying-card"></span>
                            </div>
                            <div class="text-holder">
                                <h4>抗风力强</h4>
                                <p>骨架采用热镀锌轻钢结构，抗风雪能力强，使用寿命长</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End about us area-->

<!--Start fact counter area-->
<section class="fact-counter-area" style="background-image:url(images/resources/fact-counter-bg.png);">
</section>
<!--End fact counter area-->
<!--Start latest blog area-->
<section class="latest-blog-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="sec-title-two pull-left">
                    <h1>行业动态</h1>
                </div>
                <div class="button pull-right">
                    <a href="blog.html">更多<i class="fa fa-caret-right" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <div class="row" id="blogMeunm">
            <!--Start single latest blog-->
            <div class="col-md-4">
                <div class="single-latest-blog">
                    <div class="img-holder">
                        <img src="images/blog/lat-blog-1.jpg" alt="Awesome Image">
                        <div class="overlay-box">
                            <div class="box">
                                <div class="content">
                                    <a href="blog-single.html?id=11"   target="_blank"><i class="fa fa-link" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-holder">
                        <ul class="meta-info">
                            <li><i class="fa fa-user" aria-hidden="true"></i><a href="#">李玉</a></li>
                            <li><i class="fa fa-clock-o" aria-hidden="true"></i><a href="#">2019 年3月14</a></li>
                        </ul>
                        <a href="blog-single.html?id=11"   target="_blank">
                            <h3 class="blog-title">智能大棚大棚盛夏时如何管理？</h3>
                        </a>
                    </div>
                </div>
            </div>
            <!--End single latest blog-->
            <!--Start single latest blog-->
            <div class="col-md-4">
                <div class="single-latest-blog">
                    <div class="img-holder">
                        <img src="images/blog/lat-blog-2.jpg" alt="Awesome Image">
                        <div class="overlay-box">
                            <div class="box">
                                <div class="content">
                                    <a href="blog-single.html?id=12"   target="_blank"><i class="fa fa-link" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-holder">
                        <ul class="meta-info">
                            <li><i class="fa fa-user" aria-hidden="true"></i><a href="#">王飞</a></li>
                            <li><i class="fa fa-clock-o" aria-hidden="true"></i><a href="#">2019 年3月14</a></li>
                        </ul>
                        <a href="blog-single.html?id=12"   target="_blank">
                            <h3 class="blog-title">智能大棚大棚内的喷灌系统如何规划？</h3>
                        </a>
                    </div>
                </div>
            </div>
            <!--End single latest blog-->
            <!--Start single latest blog-->
            <div class="col-md-4">
                <div class="single-latest-blog">
                    <div class="img-holder">
                        <img src="images/blog/lat-blog-3.jpg" alt="Awesome Image">
                        <div class="overlay-box">
                            <div class="box">
                                <div class="content">
                                    <a href="blog-single.html?id=13"   target="_blank"><i class="fa fa-link" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-holder">
                        <ul class="meta-info">
                            <li><i class="fa fa-user" aria-hidden="true"></i><a href="#">张瀚</a></li>
                            <li><i class="fa fa-clock-o" aria-hidden="true"></i><a href="#">2019 年3月14</a></li>
                        </ul>
                        <a href="blog-single.html?id=13"   target="_blank">
                            <h3 class="blog-title">大棚大棚湿度科学控制方法</h3>
                        </a>
                    </div>
                </div>
            </div>
            <!--End single latest blog-->
        </div>
    </div>
</section>
<!--End latest blog area-->

<!--Start testimonial area-->
<section class="testimonial-area">
    <div class="container">
        <div class="sec-title text-center">
            <h1>品牌分类</h1>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="testimonial-carousel">
                    <!--Start single item-->
                    <div class="single-item text-center">
                        <img src="images/testimonial/3.jpg" alt="Awesome Image">
                        <div class="text-holder">
                            <h5>拱形大棚</h5>
                            <!--<p>Excellent service and swift repair and I get to keep my Phone. I feel Really great.</p>-->
                        </div>
                        <div class="client-info">
                            <div class="name pull-left">
                                <h6>拱形大棚</h6>
                                <p>拱形大棚</p>
                            </div>
                            <div class="rating-box pull-right">
                                <p>4.5<i class="fa fa-star" aria-hidden="true"></i></p>
                            </div>
                        </div>
                    </div>
                    <!--End single item-->
                    <!--Start single item-->
                    <div class="single-item text-center">
                            <img src="images/testimonial/2.jpg" alt="Awesome Image">
                        <div class="text-holder">
                            <h5>花卉大棚</h5>
                            <!--<p>花卉大棚</p>-->
                        </div>
                        <div class="client-info">
                            <div class="name pull-left">
                                <h6>花卉大棚</h6>
                                <p>花卉大棚</p>
                            </div>
                            <div class="rating-box pull-right">
                                <p>5.0<i class="fa fa-star" aria-hidden="true"></i></p>
                            </div>
                        </div>
                    </div>
                    <!--End single item-->
                    <!--Start single item-->
                    <div class="single-item text-center">
                            <img src="images/testimonial/1.jpg" alt="Awesome Image">
                        <div class="text-holder">
                            <h5>养殖大棚</h5>
                            <p>养殖大棚</p>
                        </div>
                        <div class="client-info">
                            <div class="name pull-left">
                                <h6>养殖大棚</h6>
                                <p>养殖大棚</p>
                            </div>
                            <div class="rating-box pull-right">
                                <p>5.0<i class="fa fa-star" aria-hidden="true"></i></p>
                            </div>
                        </div>
                    </div>
                    <!--End single item-->
                </div>
            </div>
        </div>
    </div>
</section>
<!--Start footer area-->
<footer class="footer-area">
    <div class="container">
        <div class="row" style="display:none;">
            <!--Start single footer widget-->
            <div class="col-lg-4 col-md-3 col-sm-12 col-xs-12">
                <div class="single-footer-widget pd-bottom">
                    <div class="footer-logo">
                        <a href="index.html">
                            <img src="images/footer/footer-logo.png" alt="Awesome Footer Logo">
                        </a>
                    </div>
                    <div class="repairplus-info">
                        <p class="top">Repairplus brings 41 years of Digital Repairs experience right to your Device.
                            Our Texhnicians are equipped to help you that work best.</p>
                        <p>Our commitment to bring professionalism, good service & trust to the Phone repair service &
                            maintenance business.</p>
                        <div class="button">
                            <a class="thm-btn bg-1" href="#">Purchase theme</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--End single footer widget-->
            <div class="col-lg-8 col-md-9 col-sm-12 col-xs-12">
                <div class="footer-widget">
                    <div class="row">
                        <!--Start single footer widget-->
                        <div class="col-lg-3 col-md-4 col-sm-12">
                            <div class="single-footer-widget">
                                <div class="title">
                                    <h3>Our 产品分类</h3>
                                </div>
                                <ul class="services-list">
                                    <li><a href="smartphone-repair.html">连栋大棚</a></li>
                                    <li><a href="tablet-repair.html">拱形大棚</a></li>
                                    <li><a href="desktop-repair.html">花卉大棚</a></li>
                                    <li><a href="game-repair.html">蔬菜大棚</a></li>
                                    <li><a href="lcd-repair.html">养殖大棚</a></li>
                                    <li><a href="mp3-repair.html">大棚配件</a></li>
                                </ul>
                            </div>
                        </div>
                        <!--Start single footer widget-->
                        <!--Start single footer widget-->
                        <div class="col-lg-5 col-md-4 col-sm-12">
                            <div class="single-footer-widget subscribe-form-widget">
                                <div class="title">
                                    <h3>Subscribe US</h3>
                                </div>
                                <div class="subscribe-form">
                                    <p>Subscribe to our newsletter!</p>
                                    <form action="#">
                                        <input name="email" placeholder="Enter Your Email..." type="text">
                                        <button type="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i>
                                        </button>
                                    </form>
                                    <h4>We don’t do mail to spam and your mail id is confidential.</h4>
                                </div>
                                <div class="footer-social-links">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--End single footer widget-->
                        <!--Start single footer widget-->
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="single-footer-widget contact-info-widget">
                                <div class="title">
                                    <h3>联系我们 Info</h3>
                                </div>
                                <ul class="footer-contact-info">
                                    <li>
                                        <div class="icon-holder">
                                            <span class="flaticon-home-page"></span>
                                        </div>
                                        <div class="text-holder">
                                            <h5><span>32, Breaking Street,</span><br> 2nd cros, Newyork ,USA 10002</h5>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon-holder">
                                            <span class="flaticon-call-answer"></span>
                                        </div>
                                        <div class="text-holder">
                                            <h5><span>Call Us</span><br>+321 4567 89 012 & 79 023</h5>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon-holder">
                                            <span class="flaticon-envelope"></span>
                                        </div>
                                        <div class="text-holder">
                                            <h5><span>Mail Us</span><br>Support@Repairplus.com</h5>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon-holder">
                                            <span class="flaticon-clock"></span>
                                        </div>
                                        <div class="text-holder">
                                            <h5><span>Opening Time</span><br>Mon - Sat: 09.00am to 18.00pm</h5>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--End single footer widget-->
                    </div>
                </div>
            </div>
        </div>
        <!--Start footer botton-->
        <div class="row">
            <div class="col-md-12">
                <div class="footer-bottom">
                    <div class="copyright-text pull-left">
                        <p style="margin-left: 200px;"> 源鸿温室大棚 联系人:高经理 手机:18505266333(微信同号)
                            版权所有： 南京稻壳网络科技有限公司 ICP备案号: 苏ICP备18022274号-8 <a href="#" title="南京稻壳网络科技有限公司" target="_blank"></a></p>
                    </div>


                </div>
            </div>
        </div>
        <!--End footer botton-->
    </div>
</footer>
<!--End footer area-->


<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>

<!-- main jQuery -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- bootstrap -->
<script src="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- bx slider -->
<script src="https://cdn.bootcss.com/bxslider/4.1.2/jquery.bxslider.min.js"></script>
<!-- count to -->
<!--<script src="js/jquery.countTo.js"></script>-->
<!-- owl carousel -->
<script src="js/owl.carousel.min.js"></script>
<!-- validate -->
<script src="js/validate.js"></script>
<!-- mixit up -->
<script src="js/jquery.mixitup.min.js"></script>
<!-- easing -->
<script src="js/jquery.easing.min.js"></script>
<!-- gmap helper -->
<script src="http://ditu.google.cn/maps/api/js?key=AIzaSyAHzPSV2jshbjI8fqnC_C4L08ffnj5EN3A"></script>
<!--gmap script-->
<script src="js/gmaps.js"></script>
<script src="js/map-helper.js"></script>
<!-- video responsive script -->
<script src="js/jquery.fitvids.js"></script>
<!-- jQuery ui js -->
<script src="https://cdn.bootcss.com/jqueryui/1.11.4/jquery-ui.min.js"></script>
<!-- Language Switche  -->
<!---<script src="assets/language-switcher/jquery.polyglot.language.switcher.js"></script>--->
<!-- fancy box -->
<script src="js/jquery.fancybox.pack.js"></script>
<script src="js/jquery.appear.js"></script>
<!-- isotope script-->
<script src="js/isotope.js"></script>
<script src="js/jquery.prettyPhoto.js"></script>
<!-- jQuery timepicker js -->
<script src="assets/timepicker/timePicker.js"></script>
<!-- Bootstrap select picker js -->
<script src="https://cdn.bootcss.com/bootstrap-select/1.12.1/js/bootstrap-select.min.js"></script>


<!-- revolution slider js -->
<script src="assets/revolution/js/jquery.themepunch.tools.min.js"></script>
<script src="assets/revolution/js/jquery.themepunch.revolution.min.js"></script>
<script src="assets/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script src="assets/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
<script src="assets/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script src="assets/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="assets/revolution/js/extensions/revolution.extension.migration.min.js"></script>
<script src="assets/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script src="assets/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<script src="assets/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script src="assets/revolution/js/extensions/revolution.extension.video.min.js"></script>


<!-- thm custom script -->
<script src="js/custom.js"></script>


</body>
</html>
