<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>购物车</title>

	<!-- responsive meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- For IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- master stylesheet -->
	<link rel="stylesheet" href="css/style.css">
	<!-- Responsive stylesheet -->
	<link rel="stylesheet" href="css/responsive.css">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png">



    <!-- Fixing Internet Explorer-->
    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <script src="js/html5shiv.js"></script>
    <![endif]-->
</head>
<body>

<!--Start Preloader -->
<div class="preloader"></div>
<!--End Preloader -->

<!--Start Top bar area -->
<section class="top-bar-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-5 col-sm-12 col-xs-12">
                <div class="welcome">
                    <p>欢迎光临源鸿大棚产品服务中心</p>
                </div>
            </div>

        </div>
    </div>
</section>
<!--End Top bar area -->

<!--Start header area-->
<header class="header-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="logo">
                    <a href="index.html">
                        <img src="images/resources/logo.png" alt="Awesome Logo">
                    </a>
                </div>
            </div>

        </div>
    </div>
</header>
<!--End header area-->

<!--Start mainmenu area-->
<section class="mainmenu-area stricky">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-12">
                <!--Start mainmenu-->
                <nav class="main-menu">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse clearfix">
                        <ul class="navigation clearfix">
                            <li><a href="index.html">网站首页</a></li>
                            <li><a href="services.html">产品分类</a></li>
                            <li><a href="about.html">关于我们</a></li>
                            <li class="dropdown current"><a href="shop.html">产品中心</a>
                            </li>
                            <li><a href="blog.html">行业动态</a></li>
                            <li><a href="contact.html">联系我们</a></li>
                        </ul>
                    </div>
                </nav>
                <!--End mainmenu-->
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="customer-care pull-left">
                    <div class="icon-holder">
                        <span class="flaticon-cell-phone"></span>
                    </div>
                    <div class="title-holder">
                        <h5>全国服务热线</h5>
                        <h4>18505266333</h4>
                    </div>
                </div>
                <div class="top-search-box pull-right">
                    <button><i class="fa fa-search"></i></button>
                    <ul class="search-box">
                        <li>
                            <form action="#">
                                <input placeholder="请输入关键词..." type="text">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End mainmenu area-->

<!--Start breadcrumb area-->
<section class="breadcrumb-area">
	<div class="container text-center">
		<h1>购物车</h1>
	</div>
</section>
<!--End breadcrumb area-->

<!--Start breadcrumb bottom area-->
<section class="breadcrumb-botton-area">
    <div class="container">
        <div class="left pull-left">
            <ul>
                <li><a href="index.html">网站首页</a></li>
                <li><i class="fa fa-caret-right" aria-hidden="true"></i></li>
                <li><a href="shop.html">产品中心</a></li>
                <li><i class="fa fa-caret-right" aria-hidden="true"></i></li>
                <li>购物车</li>
            </ul>
        </div>

    </div>
</section>
<!--End breadcrumb bottom area-->

<!--Start cart area-->
<section class="cart-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="table-outer">
                    <table class="cart-table">
                        <thead class="cart-header">
                            <tr>
                                <th class="prod-column">Products</th>
                                <th>&nbsp;</th>
                                <th>Quantity</th>
                                <th class="availability">Availability</th>
                                <th class="price">Price</th>
                                <th>Total</th>
                                <th>Remove</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="2" class="prod-column">
                                    <div class="column-box">
                                        <div class="prod-thumb">
                                            <a href="#"><img src="images/blog/product-thumb-1.jpg" alt=""></a>
                                        </div>
                                        <div class="title">
                                            <h3 class="prod-title">Portable Mobile Stand</h3>
                                        </div>
                                    </div>
                                </td>
                                <td class="qty">
                                    <input class="quantity-spinner" type="text" value="1" name="quantity">
                                </td>
                                <td class="unit-price">
                                    <div class="available-info">
                                        <span class="icon fa fa-check"></span>Item(s)<br>Avilable Now
                                    </div>
                                </td>
                                <td class="price">$34.99</td>
                                <td class="sub-total">$69.98</td>
                                <td>
                                    <div class="remove">
                                        <div class="checkbox">
                                            <label>
                                                <input name="remove" type="checkbox">
                                                <span>Remove</span>
                                            </label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="prod-column">
                                    <div class="column-box">
                                        <div class="prod-thumb">
                                            <a href="#"><img src="images/blog/product-thumb-2.jpg" alt=""></a>
                                        </div>
                                        <div class="title">
                                            <h3 class="prod-title">Portable Mobile Stand</h3>
                                        </div>
                                    </div>
                                </td>
                                <td class="qty">
                                    <input class="quantity-spinner" type="text" value="2" name="quantity">
                                </td>
                                <td class="unit-price">
                                    <div class="available-info">
                                        <span class="icon fa fa-check"></span>Item(s)<br>Avilable Now
                                    </div>
                                </td>
                                <td class="price">$29.99</td>
                                <td class="sub-total">$29.99</td>
                                <td>
                                    <div class="remove">
                                        <div class="checkbox">
                                            <label>
                                                <input name="remove" type="checkbox">
                                                <span>Remove</span>
                                            </label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row cart-middle">
            <div class="col-md-6 col-sm-8 col-xs-12">
                <div class="apply-coupon">
                    <input type="text" name="coupon-code" value="" placeholder="Enter Coupon Code...">
                    <div class="apply-coupon-button">
                        <button class="thm-btn bg-1" type="button">Apply Coupon</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-4 col-xs-12">
                <div class="update-cart pull-right">
                    <button class="thm-btn bg-1" type="button">Update Cart</button>
                </div>
            </div>
        </div>
        <div class="row cart-bottom">
            <div class="col-md-6">
                <div class="calculate-shipping">
                    <div class="sec-title-two">
                        <h2>Calculate Shipping</h2>
                    </div>
                    <select class="selectmenu">
                        <option selected="selected">United Kingdom (UK)</option>
                        <option>United Kingdom (UK)</option>
                        <option>United State (USA)</option>
                        <option>France</option>
				    </select>
                    <div class="row">
                        <div class="col-lg-6">
                            <input class="mar-bottom" type="text" placeholder="State / Country" required>
                        </div>
                        <div class="col-lg-6">
                            <input class="zip-code" type="text" placeholder="Zip Code" required>
                        </div>
                    </div>
				    <button class="thm-btn bg-1" type="submit">update Totals</button>
                </div>
            </div>
            <!--Start cart total -->
            <div class="col-lg-6 col-md-6">
                <div class="cart-total">
                    <div class="sec-title-two">
                        <h2>Cart Totals</h2>
                    </div>
                    <ul class="cart-total-table">
                        <li class="clearfix">
                            <span class="col col-title">Cart Subtotal</span>
                            <span class="col">$146.00</span>
                        </li>
                        <li class="clearfix">
                            <span class="col col-title">Shipping and Handling</span>
                            <span class="col">$40.00- <b>Calculate Shipping</b></span>
                        </li>
                        <li class="clearfix">
                            <span class="col col-title">Order Total</span>
                            <span class="col">$146.00</span>
                        </li>
                    </ul>
                    <button class="thm-btn bg-1 checkout-btn">Proceed to Checkout</button>
                </div>
            </div>
            <!--End cart total -->
        </div>
    </div>
</section>
<!--End cart area-->

<!--Start footer area-->
<footer class="footer-area">
    <div class="container">

        <!--Start footer botton-->
        <div class="row">
            <div class="col-md-12">
                <div class="footer-bottom">
                    <div class="copyright-text pull-left">
                        <p style="margin-left: 200px;"> 源鸿温室大棚 联系人:高经理 手机:18505266333(微信同号)
版权所有： 南京稻壳网络科技有限公司 ICP备案号: 苏ICP备18022274号-8 <a href="#" title="南京稻壳网络科技有限公司" target="_blank"></a></p>
                    </div>


                </div>
            </div>
        </div>
        <!--End footer botton-->
    </div>
</footer>
<!--End footer area-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>

<!-- main jQuery -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- bootstrap -->
<script src="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- bx slider -->
<script src="https://cdn.bootcss.com/bxslider/4.1.2/jquery.bxslider.min.js"></script>
<!-- count to -->
<!--<script src="js/jquery.countTo.js"></script>-->
<!-- owl carousel -->
<script src="js/owl.carousel.min.js"></script>
<!-- validate -->
<script src="js/validate.js"></script>
<!-- mixit up -->
<script src="js/jquery.mixitup.min.js"></script>
<!-- easing -->
<script src="js/jquery.easing.min.js"></script>

<!-- video responsive script -->
<script src="js/jquery.fitvids.js"></script>
<!-- jQuery ui js -->
<script src="https://cdn.bootcss.com/jqueryui/1.11.4/jquery-ui.min.js"></script>
<!-- Language Switche  -->
<script src="assets/language-switcher/jquery.polyglot.language.switcher.js"></script>
<!-- fancy box -->
<script src="js/jquery.fancybox.pack.js"></script>
<script src="js/jquery.appear.js"></script>
<!-- isotope script-->
<script src="js/isotope.js"></script>
<script src="js/jquery.prettyPhoto.js"></script>
<!-- jQuery timepicker js -->
<script src="assets/timepicker/timePicker.js"></script>
<!-- Bootstrap select picker js -->
<script src="https://cdn.bootcss.com/bootstrap-select/1.12.1/js/bootstrap-select.min.js"></script>
<!-- Html 5 light box script-->
<!--<script src="assets/html5lightbox/html5lightbox.js"></script>-->
<script src="js/jquery.bootstrap-touchspin.js"></script>


<!-- revolution slider js -->
<script src=" https://cdn.bootcss.com/jquery.touchswipe/1.6.9/jquery.touchSwipe.min.js"></script>
<script src="assets/revolution/js/jquery.themepunch.revolution.min.js"></script>
<script src="assets/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script src="assets/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
<script src="assets/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script src="assets/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="assets/revolution/js/extensions/revolution.extension.migration.min.js"></script>
<script src="assets/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script src="assets/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<script src="assets/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script src="assets/revolution/js/extensions/revolution.extension.video.min.js"></script>



<!-- thm custom script -->
<script src="js/custom.js"></script>






</body>
</html>
